body {
overflow: scroll;
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  font-family: Verdana;
  font-weight: bold;
  font size: 14px;
  height: 80px;
  width: 100%;
  border: 1px solid black;
}
.logo {
  color: MediumAquamarine;
  width: 70%;
  padding-left: 50px;
  border: 1px solid black;
  align-items: center;


}
nav span{
  display: inline-block;
  padding: 20px 10px;
}
.container {
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-between;
  align-items: stretch;



}
.textbox {
  border: 1px solid black;
}

.column1 {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 630px;
}
.column2 {
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
}
.column3 {
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  width: 240px;
}
